Repository mkosir/frontend-monorepo-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, npm run lint, npm run tsc

.lintstagedrc:

{
  "*": [
    "pretty-quick --staged"
  ],
  "*.{js,jsx,ts,tsx}": [
    "npm run lint"
  ],
  "*.{ts,tsx}": [
    "npm run tsc"
  ]
}

chore: update readme
  README.md
Due: pretty-quick --staged

chore(deps): update dependencies
  .nvmrc
  package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  packages/config-eslint/package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  package-lock.json
Due: pretty-quick --staged

chore(deps): update dependencies
  package-lock.json
  packages/ui/.eslintrc.js
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/manager.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/.storybook/theme.ts
  packages/ui/jest.config.ts
  packages/ui/package.json
  packages/ui/public/favicon.ico
  packages/ui/src/Button/Button.stories.tsx
  packages/ui/src/Button/Button.test.tsx
  packages/ui/src/Button/index.tsx
  packages/ui/src/index.ts
  packages/ui/tsconfig.json
  packages/ui/tsconfig.prod.json
  packages/ui/tsconfig.test.json
  packages/ui/tsup.config.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  package-lock.json
  packages/ui-mui/package.json
  packages/ui/package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  packages/ui-mui/.storybook/theme.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update dependencies
  packages/ui/tsconfig.prod.json
Due: pretty-quick --staged

chore(deps): update dependencies
  apps/boilerplate-app/package.json
  apps/boilerplate-app/src/modules/HomePage/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update dependencies
  package-lock.json
  package.json
  packages/tailwind-config/package.json
  packages/tailwind-config/postcss.config.js
  packages/tailwind-config/tailwind.config.js
Due: pretty-quick --staged, npm run lint

chore(deps): update dependencies
  packages/config-tailwind/package.json
  packages/config-tailwind/postcss.config.js
  packages/config-tailwind/tailwind.config.js
Due: pretty-quick --staged, npm run lint

chore(deps): update dependencies
  apps/boilerplate-website/next.config.js
  apps/boilerplate-website/postcss.config.js
  apps/boilerplate-website/src/modules/AboutPage/index.tsx
  apps/boilerplate-website/src/modules/HomePage/index.tsx
  apps/boilerplate-website/src/modules/Status404Page/index.tsx
  apps/boilerplate-website/src/modules/Status500Page/index.tsx
  apps/boilerplate-website/src/modules/TermsAndConditionsPage/index.tsx
  apps/boilerplate-website/src/pages/_app.tsx
  apps/boilerplate-website/tailwind.config.js
  package-lock.json
  package.json
  packages/ui-tailwind/.eslintrc.js
  packages/ui-tailwind/.storybook/main.ts
  packages/ui-tailwind/.storybook/manager.ts
  packages/ui-tailwind/.storybook/preview.tsx
  packages/ui-tailwind/.storybook/theme.ts
  packages/ui-tailwind/jest.config.ts
  packages/ui-tailwind/package.json
  packages/ui-tailwind/postcss.config.js
  packages/ui-tailwind/src/Button/Button.stories.tsx
  packages/ui-tailwind/src/Button/Button.test.tsx
  packages/ui-tailwind/src/Button/index.tsx
  packages/ui-tailwind/src/Version/Version.stories.tsx
  packages/ui-tailwind/src/Version/Version.test.tsx
  packages/ui-tailwind/src/Version/index.tsx
  packages/ui-tailwind/src/index.ts
  packages/ui-tailwind/src/styles.css
  packages/ui-tailwind/tailwind.config.js
  packages/ui-tailwind/tsconfig.json
  packages/ui-tailwind/tsconfig.prod.json
  packages/ui-tailwind/tsconfig.test.json
  packages/ui-tailwind/tsup.config.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update dependencies
  apps/boilerplate-website/package.json
  packages/ui-mui/package.json
  packages/ui-tailwind/package.json
  packages/ui/package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  packages/ui-tailwind/tailwind.config.js
Due: pretty-quick --staged, npm run lint

chore(deps): update dependencies
  packages/ui-tailwind/public/favicon.ico
Due: pretty-quick --staged

chore(deps): update dependencies
  packages/ui-tailwind/.storybook/preview.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update dependencies
  apps/boilerplate-website/src/pages/_app.tsx
  apps/boilerplate-website/tailwind.config.js
  packages/config-tailwind/tailwind.config.js
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update dependencies
  apps/boilerplate-website/src/common/styles/global.css
  apps/boilerplate-website/src/pages/_app.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update dependencies
  apps/boilerplate-website/src/pages/_app.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update dependencies
  apps/boilerplate-website/src/modules/HomePage/HomePage.test.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update dependencies
  apps/boilerplate-app/.storybook/preview.tsx
  packages/config-storybook/preview.tsx
  packages/ui-mui/.storybook/preview.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update dependencies
  apps/boilerplate-website/.storybook/preview.tsx
  apps/boilerplate-website/src/modules/Status404Page/index.tsx
  apps/boilerplate-website/src/modules/Status500Page/index.tsx
  packages/ui-tailwind/src/global.css
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update dependencies
  packages/ui-tailwind/.storybook/preview.tsx
  packages/ui-tailwind/src/index.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore: update readme
  README.md
  README_CONVENTIONS.md
Due: pretty-quick --staged

chore(deps): update dependencies
  apps/boilerplate-app/package.json
  package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  apps/boilerplate-app/.storybook/theme.ts
  apps/boilerplate-website/.storybook/theme.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update dependencies
  apps/boilerplate-app/src/pages/_app.tsx
  apps/boilerplate-website/src/pages/_app.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc
