Repository mkosir/frontend-monorepo-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, npm run lint, npm run tsc

.lintstagedrc:

{
  "*": [
    "pretty-quick --staged"
  ],
  "*.{js,jsx,ts,tsx}": [
    "npm run lint"
  ],
  "*.{ts,tsx}": [
    "npm run tsc"
  ]
}

chore(deps): update TypeScript
  packages/config-mui/tsconfig.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package.json
  packages/config-eslint/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package-lock.json
Due: pretty-quick --staged

chore: update readme
  README.md
Due: pretty-quick --staged

chore(deps): update TypeScript
  package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  packages/ui/src/Button/styled.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  package-lock.json
  package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
  package-lock.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
  package-lock.json
  packages/config-eslint/package.json
Due: pretty-quick --staged

chore: upgrade Husky to 8.x
  .husky/pre-push
Due: pretty-quick --staged

chore: upgrade CI to Node v18
  .github/workflows/ci.yml
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/.storybook/main.ts
  apps/boilerplate-app/public/favicon.ico
  apps/boilerplate-website/.storybook/main.ts
  apps/boilerplate-website/public/favicon.ico
  packages/ui/.storybook/main.ts
  packages/ui/public/favicon.ico
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  package-lock.json
  package.json
  packages/config-jest/package.json
Due: pretty-quick --staged

build(turbo): update config
  turbo.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/.storybook/main.ts
  apps/boilerplate-app/.storybook/preview.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/.storybook/preview.tsx
  apps/boilerplate-website/.storybook/main.ts
  apps/boilerplate-website/.storybook/preview.tsx
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
  apps/boilerplate-website/package.json
  packages/ui/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/.storybook/main.ts
  apps/boilerplate-app/package.json
  package-lock.json
  packages/config-storybook/index.ts
  packages/config-storybook/main.ts
  packages/config-storybook/package.json
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-website/.storybook/main.ts
  apps/boilerplate-website/package.json
  package-lock.json
  packages/ui/.storybook/main.ts
  packages/ui/package.json
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/.storybook/preview.tsx
  packages/config-storybook/index.ts
  packages/config-storybook/preview.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  packages/config-storybook/preview.ts
  packages/config-storybook/preview.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-website/.storybook/preview.tsx
  packages/ui/.storybook/preview.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore: update readme
  README_CONVENTIONS.md
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
  package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  packages/config-eslint/index.js
Due: pretty-quick --staged, npm run lint

chore(deps): update TypeScript
  package-lock.json
  package.json
  packages/config-eslint/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package-lock.json
  package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
Due: pretty-quick --staged
