Repository mkosir/frontend-monorepo-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, npm run lint, npm run tsc

.lintstagedrc:

{
  "*": [
    "pretty-quick --staged"
  ],
  "*.{js,jsx,ts,tsx}": [
    "npm run lint"
  ],
  "*.{ts,tsx}": [
    "npm run tsc"
  ]
}

chore: update readme
  README.md
Due: pretty-quick --staged

chore(deps): update dependencies
  apps/boilerplate-app/src/modules/Status404Page/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update dependencies
  .husky/pre-push
  apps/boilerplate-app/src/modules/Status404Page/index.tsx
  packages/config-eslint/index.js
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update dependencies
  apps/boilerplate-app/src/modules/HomePage/components/MontyHome/MontyHome.test.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update dependencies
  apps/boilerplate-app/package.json
  package-lock.json
Due: pretty-quick --staged

chore(deps): update dependencies
  apps/boilerplate-app/package.json
  package-lock.json
  package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  package-lock.json
  package.json
  packages/config-jest/package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  apps/boilerplate-app/package.json
  package.json
  packages/config-eslint/package.json
Due: pretty-quick --staged

chore(lintstaged): upgrade prettier v3
  .lintstagedrc
Due: pretty-quick --staged

chore(deps): update dependencies
  package-lock.json
Due: pretty-quick --staged

chore(deps): update dependencies
  .czrc
  .eslintrc.js
  package.json
  packages/config-eslint/index.js
Due: pretty-quick --staged, npm run lint

chore(lintstaged): upgrade to Prettier v3
  .lintstagedrc
Due: pretty-quick --staged

chore(deps): update dependencies
  apps/boilerplate-app/.eslintrc.js
  apps/boilerplate-website/.eslintrc.js
  packages/ui-mui/.eslintrc.js
  packages/ui-tailwind/.eslintrc.js
  packages/ui/.eslintrc.js
  packages/utils-mui/.eslintrc.js
  packages/utils-test/.eslintrc.js
  packages/utils-version/.eslintrc.js
Due: pretty-quick --staged, npm run lint

chore(deps): update dependencies
  packages/config-eslint/index.js
Due: pretty-quick --staged, npm run lint

chore(deps): update dependencies
  package.json
  packages/config-eslint/package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  apps/boilerplate-app/src/modules/HomePage/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update dependencies
  .github/workflows/ci.yml
Due: pretty-quick --staged

chore(deps): update dependencies
  package-lock.json
  package.json
  packages/config-eslint/package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  apps/boilerplate-app/package.json
  package-lock.json
  package.json
  packages/config-eslint/package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  tsconfig.lintstaged.json
Due: pretty-quick --staged

chore(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  README.md
Due: pretty-quick --staged
