Repository mkosir/frontend-monorepo-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app-mui/package.json
  package-lock.json
  packages/mui-config/package.json
  packages/ui-mui/package.json
  packages/ui-mui/tsconfig.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app-mui/package.json
  apps/boilerplate-app-mui/src/pages/_app.tsx
  package-lock.json
  packages/mui-config/package.json
  packages/ui-mui/.storybook/preview.tsx
  packages/ui-mui/package.json
  packages/ui-mui/src/config/createEmotionCache.ts
  packages/ui-mui/src/config/index.ts
  packages/ui-mui/src/config/mui-theme.ts
  packages/ui-mui/src/config/theme.d.ts
  packages/ui-mui/src/index.tsx
  packages/ui-mui/tsconfig.json
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  packages/ui-mui/package.json
  packages/ui-mui/src/index.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  packages/ui-mui/src/config/mui-theme.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app-mui/tsconfig.json
  packages/ui-mui/.storybook/preview.tsx
  packages/ui-mui/src/config/index.ts
  packages/ui-mui/src/config/mui-theme.d.ts
  packages/ui-mui/src/config/theme.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore: update readme
  README_CONVENTIONS.md
Due: pretty-quick --staged

chore: update readme
  apps/boilerplate-app-mui/src/common/test/render/index.tsx
  apps/boilerplate-app-mui/src/modules/HomePage/HomePage.test.tsx
  packages/tsconfig/tsconfig.test.json
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app-mui/src/common/test/render/index.ts
  apps/boilerplate-app-mui/src/common/test/render/renderWithTheme.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app-mui/package.json
  apps/boilerplate-app-mui/src/modules/HomePage/HomePage.test.tsx
  package-lock.json
  package.json
  packages/jest-config-base/package.json
  packages/test-utils/.eslintrc.js
  packages/test-utils/package.json
  packages/test-utils/src/index.ts
  packages/test-utils/src/renderWithTheme.tsx
  packages/test-utils/tsconfig.json
  packages/ui-mui/src/Button/Button.test.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  packages/test-utils/tsconfig.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package-lock.json
  package.json
Due: pretty-quick --staged

chore: update readme
  README.md
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package-lock.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-website/tsconfig.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/src/pages/_app.tsx
  apps/boilerplate-website/package.json
  apps/boilerplate-website/src/pages/_app.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
  package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-website/src/modules/HomePage/HomePage.test.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  packages/ui/src/Button/styled.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  packages/ui/src/utils/index.ts
  packages/ui/src/utils/shouldForwardProp/index.ts
  packages/ui/src/utils/shouldForwardProp/shouldForwardProp.test.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/src/modules/HomePage/components/MontyHome/index.tsx
  apps/boilerplate-website/src/modules/AboutPage/index.tsx
  apps/boilerplate-website/src/modules/HomePage/index.tsx
  apps/boilerplate-website/src/modules/TermsAndConditionsPage/index.tsx
  packages/ui/src/Button/Button.stories.tsx
  packages/ui/src/Button/Button.test.tsx
  packages/ui/src/Button/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  packages/jest-config-base/jest.config.jsdom.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-website/tsconfig.json
  packages/tsconfig/tsconfig.base.json
  packages/ui/tsconfig.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  packages/tsconfig/tsconfig.test.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/tsconfig.test.json
  packages/ui/tsconfig.test.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/next.config.js
  apps/boilerplate-app/package.json
  apps/boilerplate-website/next.config.js
  apps/boilerplate-website/package.json
  apps/boilerplate-website/tsconfig.test.json
  package-lock.json
  package.json
  packages/eslint-config-base/index.js
  packages/tsconfig/tsconfig.ui.json
  packages/ui/package.json
Due: pretty-quick --staged, npm run lint

chore(deps): update TypeScript
  packages/ui/tsconfig.prod.json
  packages/ui/tsup.config.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  package.json
  packages/eslint-config-base/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/tsconfig.json
  apps/boilerplate-app/tsconfig.test.json
  apps/boilerplate-website/tsconfig.test.json
  packages/jest-config-base/jest.config.jsdom.ts
  packages/test-utils/tsconfig.json
  packages/tsconfig/tsconfig.base.json
  packages/tsconfig/tsconfig.test.json
  packages/ui/tsconfig.test.json
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  packages/ui/src/Button/styled.ts
  packages/ui/src/config/index.ts
  packages/ui/src/index.ts
  packages/ui/src/mui-utils/createEmotionCache/index.ts
  packages/ui/src/mui-utils/index.ts
  packages/ui/src/mui-utils/shouldForwardProp/index.ts
  packages/ui/src/mui-utils/shouldForwardProp/shouldForwardProp.test.ts
  packages/ui/src/utils/index.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
  apps/boilerplate-app/src/pages/_app.tsx
  apps/boilerplate-app/tsconfig.json
  apps/boilerplate-app/tsconfig.test.json
  apps/boilerplate-website/package.json
  apps/boilerplate-website/src/pages/_app.tsx
  apps/boilerplate-website/tsconfig.json
  apps/boilerplate-website/tsconfig.test.json
  package-lock.json
  packages/mui-config/package.json
  packages/mui-config/src/index.ts
  packages/mui-config/src/mui-theme.d.ts
  packages/mui-config/src/theme.ts
  packages/mui-config/tsconfig.json
  packages/test-utils/package.json
  packages/test-utils/src/renderWithTheme.tsx
  packages/test-utils/tsconfig.json
  packages/ui/.storybook/preview.tsx
  packages/ui/package.json
  packages/ui/src/index.ts
  packages/ui/tsconfig.json
  packages/ui/tsconfig.test.json
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
  apps/boilerplate-app/src/pages/_app.tsx
  apps/boilerplate-website/package.json
  apps/boilerplate-website/src/pages/_app.tsx
  package-lock.json
  packages/mui-utils/.eslintrc.js
  packages/mui-utils/package.json
  packages/mui-utils/src/createEmotionCache/index.ts
  packages/mui-utils/src/index.ts
  packages/mui-utils/src/shouldForwardProp/index.ts
  packages/mui-utils/src/shouldForwardProp/shouldForwardProp.test.ts
  packages/mui-utils/tsconfig.json
  packages/ui/package.json
  packages/ui/src/index.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  package.json
Due: pretty-quick --staged

Path conditions:
  pretty-quick --staged: any of: *
  npm run lint: any of: *.{js,jsx,ts,tsx}
  npm run tsc: any of: *.{ts,tsx}
