Repository mkosir/frontend-monorepo-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/next.config.js
  apps/boilerplate-app-tailwind/src/modules/HomePage/components/MontyHome/index.tsx
  apps/boilerplate-app-tailwind/src/modules/HomePage/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  packages/tsconfig/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/package.json
  apps/boilerplate-app-tailwind/src/pages/_app.tsx
  apps/boilerplate-app-tailwind/tailwind.config.js
  package-lock.json
  packages/tailwind-config/package.json
  packages/tailwind-config/tailwind.config.js
  packages/ui-tailwind/package.json
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/src/pages/_app.tsx
  packages/ui-tailwind/package.json
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  package-lock.json
  package.json
  packages/ui-tailwind/postcss.config.js
Due: pretty-quick --staged, npm run lint

chore(deps): update TypeScript
  packages/ui-tailwind/.storybook/preview.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  packages/ui-tailwind/.storybook/main.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/postcss.config.js
  packages/tailwind-config/postcss.config.js
  packages/ui-tailwind/postcss.config.js
Due: pretty-quick --staged, npm run lint

chore(deps): update TypeScript
  packages/eslint-config-base/package.json
  packages/tailwind-config/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package-lock.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/postcss.config.js
Due: pretty-quick --staged, npm run lint

chore(deps): update TypeScript
  packages/ui-tailwind/src/Button/Button.test.tsx
  packages/ui-tailwind/src/Button/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  packages/tailwind-config/tailwind.config.js
Due: pretty-quick --staged, npm run lint

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/src/modules/HomePage/index.tsx
  packages/tailwind-config/tailwind.config.js
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/src/modules/HomePage/index.tsx
  packages/tailwind-config/tailwind.config.js
  packages/ui-tailwind/src/styles.css
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  package-lock.json
  package.json
  packages/eslint-config-base/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/package.json
  apps/boilerplate-app/package.json
  apps/boilerplate-website/package.json
  packages/ui-tailwind/package.json
  packages/ui/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/.storybook/main.ts
  apps/boilerplate-app-tailwind/.storybook/preview.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/src/modules/HomePage/HomePage.test.tsx
  apps/boilerplate-app-tailwind/src/modules/HomePage/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/src/modules/HomePage/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  package.json
  packages/jest-config-base/package.json
  packages/tailwind-config/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/package.json
  apps/boilerplate-app/package.json
  apps/boilerplate-website/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/src/modules/HomePage/index.tsx
  packages/tailwind-config/tailwind.config.js
  packages/ui-tailwind/src/Button/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/src/modules/HomePage/index.tsx
  packages/ui-tailwind/src/Button/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/src/modules/HomePage/components/MontyHome/index.tsx
  apps/boilerplate-app-tailwind/src/modules/HomePage/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/src/modules/HomePage/components/MontyHome/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/src/modules/HomePage/HomePage.test.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  packages/tailwind-config/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/src/pages/_app.tsx
  apps/boilerplate-app/src/pages/_app.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/src/modules/HomePage/components/MontyHome/index.tsx
  apps/boilerplate-app/src/modules/HomePage/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/src/modules/HomePage/components/MontyHome/index.tsx
  apps/boilerplate-app-tailwind/src/modules/HomePage/index.tsx
  apps/boilerplate-app/src/common/styles.css
  apps/boilerplate-app/src/modules/HomePage/components/MontyHome/index.tsx
  apps/boilerplate-app/src/modules/HomePage/index.tsx
  apps/boilerplate-app/src/pages/_app.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(eslint): update config
  .eslintrc.js
  apps/boilerplate-app-tailwind/.eslintrc.js
  apps/boilerplate-app/.eslintrc.js
  apps/boilerplate-website/.eslintrc.js
  packages/ui-tailwind/.eslintrc.js
  packages/ui/.eslintrc.js
Due: pretty-quick --staged, npm run lint

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/package.json
  package-lock.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/.eslintrc.js
  apps/boilerplate-app-tailwind/src/modules/HomePage/components/MontyHome/index.tsx
  apps/boilerplate-app-tailwind/src/modules/HomePage/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  package-lock.json
  packages/ui-tailwind/.eslintrc.js
  packages/ui-tailwind/package.json
Due: pretty-quick --staged, npm run lint

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/.eslintrc.js
  packages/ui-tailwind/.eslintrc.js
Due: pretty-quick --staged, npm run lint

Path conditions:
  pretty-quick --staged: any of: *
  npm run lint: any of: *.{js,jsx,ts,tsx}
  npm run tsc: any of: *.{ts,tsx}
