Repository mkosir/frontend-monorepo-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, npm run lint, npm run tsc

.lintstagedrc:

{
  "*": [
    "pretty-quick --staged"
  ],
  "*.{js,jsx,ts,tsx}": [
    "npm run lint"
  ],
  "*.{ts,tsx}": [
    "npm run tsc"
  ]
}

chore(deps): update TypeScript
  package-lock.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/next.config.js
  apps/boilerplate-website/next.config.js
Due: pretty-quick --staged, npm run lint

chore: update build folder
  .gitignore
Due: pretty-quick --staged

chore(deps): update TypeScript
  packages/config-eslint/index.js
Due: pretty-quick --staged, npm run lint

chore(deps): update TypeScript
  apps/boilerplate-app/.eslintrc.js
  apps/boilerplate-website/.eslintrc.js
Due: pretty-quick --staged, npm run lint

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
  apps/boilerplate-app/src/common/api/petstore/generate/formatter.mts
  apps/boilerplate-app/src/common/api/petstore/generate/index.mts
Due: pretty-quick --staged

chore(deps): update TypeScript
  package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/tsconfig.json
  apps/boilerplate-website/tsconfig.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/src/common/api/petstore/generate/index.mts
Due: pretty-quick --staged

chore: update readme
  README.md
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
  apps/boilerplate-app/tsconfig.esm.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package-lock.json
  package.json
  packages/config-jest/package.json
Due: pretty-quick --staged

chore: update readme
  README_CONVENTIONS.md
Due: pretty-quick --staged

chore(deps): update TypeScript
  package.json
  packages/config-jest/package.json
Due: pretty-quick --staged

chore: update readme
  README.md
  README_CONVENTIONS.md
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/src/modules/HomePage/HomePage.test.tsx
  apps/boilerplate-app/src/modules/HomePage/components/MontyHome/MontyHome.test.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  packages/config-jest/jest.config.jsdom.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/src/common/version/VersionInfoCI.ts
  apps/boilerplate-app/src/common/version/getVersionInfo.ts
  apps/boilerplate-app/src/pages/_app.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/src/pages/_app.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore: upgrade CI to Node v18
  .github/workflows/build.yml
Due: pretty-quick --staged

chore: upgrade CI to Node v18
  .github/workflows/deploy.yml
Due: pretty-quick --staged

chore: upgrade CI to Node v18
  .github/workflows/ci.yml
Due: pretty-quick --staged

chore: upgrade CI to Node v18
  .github/workflows/ci.yml
  apps/boilerplate-app/src/common/version/VersionInfo.ts
  apps/boilerplate-app/src/common/version/getVersionInfo.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(prettier): ignore build folders
  .prettierignore
Due: pretty-quick --staged
