Repository mkosir/frontend-monorepo-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package-lock.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package-lock.json
  package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package-lock.json
  package.json
  packages/config-eslint/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package-lock.json
  packages/config-eslint/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package-lock.json
  package.json
  packages/config-eslint/index.js
Due: pretty-quick --staged, npm run lint

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
  package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
  package.json
  packages/config-eslint/package.json
Due: pretty-quick --staged

chore(lintstaged): add tsc check
  .lintstagedrc
Due: pretty-quick --staged

chore(deps): update dependencies
  apps/boilerplate-app/package.json
  package-lock.json
Due: pretty-quick --staged

chore(deps): update dependencies
  apps/boilerplate-app/package.json
  apps/boilerplate-app/src/common/api/petstore/api-types/index.ts
  apps/boilerplate-app/src/common/api/petstore/generate/index.mts
  package-lock.json
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update dependencies
  apps/boilerplate-app/src/common/api/petstore/generate/formatter.mts
  apps/boilerplate-app/src/common/api/petstore/generate/index.mts
  apps/boilerplate-app/src/common/api/petstore/generate/transform.mts
Due: pretty-quick --staged

chore(deps): update dependencies
  apps/boilerplate-app/src/common/api/petstore/api-types/index.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update dependencies
  apps/boilerplate-app/src/common/api/petstore/api-types/index.ts
  apps/boilerplate-app/src/common/api/petstore/generate/index.mts
  apps/boilerplate-app/src/common/api/petstore/generate/transform.mts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update dependencies
  apps/boilerplate-app/package.json
  package.json
  packages/config-eslint/package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  package-lock.json
Due: pretty-quick --staged

chore(deps): update dependencies
  apps/boilerplate-app/package.json
  package-lock.json
  package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  apps/boilerplate-app/src/common/api/petstore/generate/index.mts
Due: pretty-quick --staged

chore(deps): update dependencies
  package.json
  packages/config-eslint/package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  apps/boilerplate-app/package.json
  package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  apps/boilerplate-app/next.config.js
  apps/boilerplate-website/next.config.js
Due: pretty-quick --staged, npm run lint

Path conditions:
  pretty-quick --staged: any of: *
  npm run lint: any of: *.{js,jsx,ts,tsx}
  npm run tsc: any of: *.{ts,tsx}
