Repository mkosir/frontend-monorepo-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, npm run lint, npm run tsc

chore: update readme
  README.md
Due: pretty-quick --staged

chore(deps): update TypeScript
  package-lock.json
Due: pretty-quick --staged

chore: upgrade CI to Node v18
  .github/workflows/actions/setup_node-cache_dep-install_dep/action.yml
Due: pretty-quick --staged

chore(deps): update TypeScript
  package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/tsconfig.json
  apps/boilerplate-app/tsconfig.test.json
  apps/boilerplate-website/tsconfig.json
  apps/boilerplate-website/tsconfig.test.json
  package.json
  packages/ui/tsconfig.json
  packages/ui/tsconfig.test.json
  packages/utils-mui/tsconfig.json
  packages/utils-mui/tsconfig.test.json
  packages/utils-test/tsconfig.json
Due: pretty-quick --staged

build(turbo): update config
  turbo.json
Due: pretty-quick --staged

build(turbo): update config
  apps/boilerplate-website/src/modules/HomePage/HomePage.test.tsx
  turbo.json
Due: pretty-quick --staged, npm run lint, npm run tsc

chore: upgrade CI to Node v18
  .github/workflows/lint.yml
Due: pretty-quick --staged

chore: upgrade CI to Node v18
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/tsc.yml
Due: pretty-quick --staged

chore: upgrade CI to Node v18
  .github/workflows/build.yml
Due: pretty-quick --staged

chore(deps): update TypeScript
  package-lock.json
  package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  packages/openapi-typescript-generator/.eslintrc.js
Due: pretty-quick --staged, npm run lint

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
  package-lock.json
  packages/openapi-typescript-generator/.eslintrc.js
Due: pretty-quick --staged, npm run lint

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
  package-lock.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package.json
  packages/config-eslint/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
  packages/config-eslint/index.js
Due: pretty-quick --staged, npm run lint

chore(deps): update TypeScript
  apps/boilerplate-app/src/common/api/petstore/api-types-generated/index.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  packages/config-eslint/index.js
Due: pretty-quick --staged, npm run lint

chore(deps): update TypeScript
  packages/config-tsconfig/tsconfig.base.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
  apps/boilerplate-app/src/common/api/petstore/api-types/generate.ts
  apps/boilerplate-app/src/common/api/petstore/api-types/index.ts
  package-lock.json
  package.json
  packages/config-eslint/index.js
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(lintstaged): add eslint
  .lintstagedrc
Due: pretty-quick --staged

Path conditions:
  pretty-quick --staged: any of: *
  npm run lint: any of: *.{js,jsx,ts,tsx}
  npm run tsc: any of: *.{ts,tsx}
