Repository mkosir/frontend-monorepo-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, npm run lint, npm run tsc

.lintstagedrc:

{
  "*": [
    "pretty-quick --staged"
  ],
  "*.{js,jsx,ts,tsx}": [
    "npm run lint"
  ],
  "*.{ts,tsx}": [
    "npm run tsc"
  ]
}

chore(deps): update dependencies
  apps/boilerplate-app/package.json
  package.json
  packages/config-eslint/package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  package-lock.json
Due: pretty-quick --staged

chore(deps): update dependencies
  package-lock.json
  package.json
  packages/config-jest/package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  apps/boilerplate-app/package.json
  package-lock.json
  package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  apps/boilerplate-app/package.json
  packages/config-eslint/package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  packages/utils-mui/src/shouldForwardProp/index.ts
  packages/utils-mui/src/shouldForwardProp/shouldForwardProp.test.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update dependencies
  packages/ui/src/Button/styled.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update dependencies
  package-lock.json
  package.json
  packages/config-eslint/package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  apps/boilerplate-app/next.config.js
  apps/boilerplate-website/next.config.js
Due: pretty-quick --staged, npm run lint

chore(deps): update dependencies
  apps/boilerplate-app/package.json
  package.json
Due: pretty-quick --staged

chore(deps): update dependencies
  apps/boilerplate-app/package.json
  package-lock.json
  package.json
  packages/config-eslint/package.json
Due: pretty-quick --staged

chore: update readme
  README.md
  README_CONVENTIONS.md
Due: pretty-quick --staged

chore: update readme
  README_CONVENTIONS.md
Due: pretty-quick --staged

chore: update readme
  README.md
Due: pretty-quick --staged

chore(deps): update dependencies
  apps/boilerplate-app/package.json
  apps/boilerplate-app/src/modules/HomePage/components/MontyHome/index.tsx
  apps/boilerplate-app/src/pages/_app.tsx
  apps/boilerplate-website/package.json
  apps/boilerplate-website/src/modules/AboutPage/index.tsx
  apps/boilerplate-website/src/modules/HomePage/index.tsx
  apps/boilerplate-website/src/modules/TermsAndConditionsPage/index.tsx
  apps/boilerplate-website/src/pages/_app.tsx
  package-lock.json
  packages/ui-mui/.eslintrc.js
  packages/ui-mui/.storybook/main.ts
  packages/ui-mui/.storybook/manager.ts
  packages/ui-mui/.storybook/preview.tsx
  packages/ui-mui/.storybook/theme.ts
  packages/ui-mui/jest.config.ts
  packages/ui-mui/package.json
  packages/ui-mui/public/favicon.ico
  packages/ui-mui/src/Button/Button.stories.tsx
  packages/ui-mui/src/Button/Button.test.tsx
  packages/ui-mui/src/Button/index.tsx
  packages/ui-mui/src/Button/styled.ts
  packages/ui-mui/src/Version/Version.stories.tsx
  packages/ui-mui/src/Version/Version.test.tsx
  packages/ui-mui/src/Version/index.tsx
  packages/ui-mui/src/index.ts
  packages/ui-mui/tsconfig.json
  packages/ui-mui/tsconfig.prod.json
  packages/ui-mui/tsconfig.test.json
  packages/ui-mui/tsup.config.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update dependencies
  .github/workflows/ci.yml
Due: pretty-quick --staged
