Repository mkosir/frontend-monorepo-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, npm run lint, npm run tsc

.lintstagedrc:

{
  "*": [
    "pretty-quick --staged"
  ],
  "*.{js,jsx,ts,tsx}": [
    "npm run lint"
  ],
  "*.{ts,tsx}": [
    "npm run tsc"
  ]
}

chore(deps): update TypeScript
  package-lock.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
  apps/boilerplate-website/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  packages/test-utils/src/renderWithTheme/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  packages/mui-utils/jest.config.ts
  packages/mui-utils/package.json
  packages/mui-utils/tsconfig.prod.json
  packages/mui-utils/tsconfig.test.json
  packages/mui-utils/tsup.config.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore: update build folder
  .gitignore
Due: pretty-quick --staged

chore: update build folder
  packages/test-utils/package.json
  packages/test-utils/tsconfig.prod.json
  packages/test-utils/tsup.config.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore: update build folder
  packages/eslint-config-base/index.js
Due: pretty-quick --staged, npm run lint

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
  apps/boilerplate-website/package.json
  packages/eslint-config-base/index.js
  packages/ui/package.json
Due: pretty-quick --staged, npm run lint

chore(deps): update TypeScript
  apps/boilerplate-app/jest.config.ts
  apps/boilerplate-website/jest.config.ts
  package-lock.json
  packages/config-eslint/index.js
  packages/config-eslint/package.json
  packages/config-jest/index.ts
  packages/config-jest/jest.config.jsdom.ts
  packages/config-jest/package.json
  packages/mui-utils/jest.config.ts
  packages/tsconfig/README.md
  packages/ui/jest.config.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
  apps/boilerplate-app/src/pages/_app.tsx
  apps/boilerplate-app/tsconfig.json
  apps/boilerplate-app/tsconfig.test.json
  apps/boilerplate-website/package.json
  apps/boilerplate-website/src/pages/_app.tsx
  apps/boilerplate-website/tsconfig.json
  apps/boilerplate-website/tsconfig.test.json
  package-lock.json
  packages/config-mui/index.ts
  packages/config-mui/mui-theme.d.ts
  packages/config-mui/package.json
  packages/config-mui/theme.ts
  packages/config-mui/tsconfig.json
  packages/mui-config/package.json
  packages/mui-config/tsconfig.json
  packages/test-utils/package.json
  packages/test-utils/src/renderWithTheme/index.tsx
  packages/test-utils/tsconfig.json
  packages/ui/.storybook/preview.tsx
  packages/ui/package.json
  packages/ui/tsconfig.json
  packages/ui/tsconfig.test.json
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  packages/config-eslint/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
  apps/boilerplate-app/tsconfig.json
  apps/boilerplate-app/tsconfig.test.json
  apps/boilerplate-website/package.json
  apps/boilerplate-website/tsconfig.json
  apps/boilerplate-website/tsconfig.test.json
  package-lock.json
  packages/config-mui/tsconfig.json
  packages/config-tsconfig/package.json
  packages/config-tsconfig/tsconfig.base.json
  packages/config-tsconfig/tsconfig.nextjs.json
  packages/mui-utils/package.json
  packages/mui-utils/tsconfig.json
  packages/mui-utils/tsconfig.prod.json
  packages/mui-utils/tsconfig.test.json
  packages/test-utils/package.json
  packages/test-utils/tsconfig.json
  packages/test-utils/tsconfig.prod.json
  packages/tsconfig/package.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  packages/ui/tsconfig.prod.json
  packages/ui/tsconfig.test.json
  tsconfig.lintstaged.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
  apps/boilerplate-app/src/modules/HomePage/HomePage.test.tsx
  apps/boilerplate-app/src/pages/_app.tsx
  apps/boilerplate-website/package.json
  apps/boilerplate-website/src/modules/HomePage/HomePage.test.tsx
  apps/boilerplate-website/src/pages/_app.tsx
  package-lock.json
  packages/ui/package.json
  packages/ui/src/Button/Button.test.tsx
  packages/ui/src/Button/styled.ts
  packages/utils-mui/.eslintrc.js
  packages/utils-mui/jest.config.ts
  packages/utils-mui/package.json
  packages/utils-mui/src/createEmotionCache/index.ts
  packages/utils-mui/src/index.ts
  packages/utils-mui/src/shouldForwardProp/index.ts
  packages/utils-mui/src/shouldForwardProp/shouldForwardProp.test.ts
  packages/utils-mui/tsconfig.json
  packages/utils-mui/tsconfig.prod.json
  packages/utils-mui/tsconfig.test.json
  packages/utils-mui/tsup.config.ts
  packages/utils-test/.eslintrc.js
  packages/utils-test/package.json
  packages/utils-test/src/index.ts
  packages/utils-test/src/renderWithTheme/index.tsx
  packages/utils-test/tsconfig.json
  packages/utils-test/tsconfig.prod.json
  packages/utils-test/tsup.config.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/src/modules/HomePage/components/MontyHome/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/src/modules/HomePage/components/MontyHome/index.tsx
  apps/boilerplate-app/src/modules/HomePage/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/src/modules/HomePage/components/MontyHome/index.tsx
  apps/boilerplate-app/src/modules/HomePage/components/MontyHome/styled.ts
  apps/boilerplate-app/src/modules/HomePage/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/src/modules/Status404Page/index.tsx
  apps/boilerplate-app/src/modules/Status500Page/index.tsx
  apps/boilerplate-website/src/modules/AboutPage/index.tsx
  apps/boilerplate-website/src/modules/HomePage/index.tsx
  apps/boilerplate-website/src/modules/Status404Page/index.tsx
  apps/boilerplate-website/src/modules/Status500Page/index.tsx
  apps/boilerplate-website/src/modules/TermsAndConditionsPage/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/src/modules/HomePage/components/MontyHome/styled.ts
  packages/config-mui/mui-theme.d.ts
  packages/config-mui/theme.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/src/pages/_app.tsx
  apps/boilerplate-website/src/pages/_app.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/src/modules/HomePage/components/MontyHome/index.tsx
  apps/boilerplate-app/src/modules/HomePage/index.tsx
  apps/boilerplate-app/src/pages/_app.tsx
  apps/boilerplate-website/src/pages/_app.tsx
  packages/config-mui/mui-theme.d.ts
  packages/config-mui/theme.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/src/modules/Status404Page/index.tsx
  apps/boilerplate-app/src/modules/Status500Page/index.tsx
  apps/boilerplate-website/src/modules/AboutPage/index.tsx
  apps/boilerplate-website/src/modules/HomePage/index.tsx
  apps/boilerplate-website/src/modules/Status404Page/index.tsx
  apps/boilerplate-website/src/modules/Status500Page/index.tsx
  apps/boilerplate-website/src/modules/TermsAndConditionsPage/index.tsx
  packages/config-mui/mui-theme.d.ts
  packages/config-mui/theme.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/.storybook/preview.tsx
  apps/boilerplate-website/.storybook/preview.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/.storybook/theme.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/src/modules/HomePage/components/MontyHome/MontyHome.stories.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

build(turbo): update config
  turbo.json
Due: pretty-quick --staged

build(turbo): update config
  package.json
  turbo.json
Due: pretty-quick --staged

build(turbo): update config
  package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/README.md
  packages/config-eslint/index.js
Due: pretty-quick --staged, npm run lint

chore(deps): update TypeScript
  packages/config-tsconfig/tsconfig.base.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/README.md
  apps/boilerplate-website/README.md
  packages/config-tsconfig/README.md
Due: pretty-quick --staged

chore(deps): update TypeScript
  packages/config-tsconfig/README.md
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/tsconfig.json
  apps/boilerplate-app/tsconfig.test.json
  apps/boilerplate-website/tsconfig.json
  apps/boilerplate-website/tsconfig.test.json
  packages/ui/tsconfig.json
Due: pretty-quick --staged

chore: update readme
  README.md
Due: pretty-quick --staged
