Repository mkosir/frontend-monorepo-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, npm run lint, npm run tsc

.lintstagedrc:

{
  "*": [
    "pretty-quick --staged"
  ],
  "*.{js,jsx,ts,tsx}": [
    "npm run lint"
  ],
  "*.{ts,tsx}": [
    "npm run tsc"
  ]
}

chore: upgrade CI to Node v18
  .husky/pre-push
Due: pretty-quick --staged

chore(lintstaged): add eslint
  .lintstagedrc
Due: pretty-quick --staged

chore(eslint): update config
  .eslintrc.js
Due: pretty-quick --staged, npm run lint

build(tsconfig): extend base
  tsconfig.lintstaged.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  package-lock.json
  package.json
Due: pretty-quick --staged

chore: add type
  apps/boilerplate-app/src/modules/index.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/src/modules/HomePage/index.tsx
  apps/boilerplate-website/src/modules/HomePage/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/src/modules/MontyHomeMUIPage/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/src/modules/MontyHomeTailwindPage/index.tsx
  apps/boilerplate-app/src/modules/MontyHomeVanillaPage/index.tsx
  apps/boilerplate-app/src/modules/UserAddPage/handleUserCreate.ts
  apps/boilerplate-app/src/modules/UserAddPage/index.tsx
  apps/boilerplate-app/src/modules/UserPage/index.tsx
  apps/boilerplate-app/src/modules/UsersPage/components/UserCard/index.tsx
  apps/boilerplate-app/src/modules/UsersPage/components/UserCard/styles.module.css
  apps/boilerplate-app/src/modules/UsersPage/index.tsx
  apps/boilerplate-app/src/pages/monty-home-mui.tsx
  apps/boilerplate-app/src/pages/monty-home-tailwind.tsx
  apps/boilerplate-app/src/pages/monty-home-vanilla.tsx
  apps/boilerplate-app/src/pages/users/[username].tsx
  apps/boilerplate-app/src/pages/users/add.tsx
  apps/boilerplate-app/src/pages/users/index.tsx
  packages/jest-config-base/jest.config.jsdom.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app/src/modules/HomePage/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  packages/eslint-config-base/package.json
Due: pretty-quick --staged

chore: upgrade CI to Node v18
  .github/workflows/actions/setup_node-cache_dep-install_dep/action.yml
Due: pretty-quick --staged

chore(deps): update TypeScript
  package.json
  packages/eslint-config-base/package.json
  packages/jest-config-base/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  packages/tsconfig/tsconfig.base.json
  packages/tsconfig/tsconfig.ui.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  packages/tailwind-config/package.json
  packages/tailwind-config/tailwind.config.js
Due: pretty-quick --staged, npm run lint

chore(deps): update TypeScript
  apps/boilerplate-app/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-website/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/README.md
  apps/boilerplate-app-tailwind/tsconfig.json
  apps/boilerplate-app/README.md
  apps/boilerplate-website/README.md
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app/src/modules/index.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/next.config.js
  apps/boilerplate-website/next.config.js
Due: pretty-quick --staged, npm run lint

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/next-env.d.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(postcss): add config
  apps/boilerplate-app-tailwind/postcss.config.js
Due: pretty-quick --staged, npm run lint

chore(postcss): add config
  apps/boilerplate-app-tailwind/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/.eslintrc.js
  apps/boilerplate-app-tailwind/jest.config.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  packages/ui/index.tsx
  packages/ui/package.json
  packages/ui/src/index.tsx
  packages/ui/tsconfig.json
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  package-lock.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/.storybook/main.ts
  apps/boilerplate-app-tailwind/.storybook/manager.ts
  apps/boilerplate-app-tailwind/.storybook/preview.tsx
  apps/boilerplate-app-tailwind/.storybook/theme.ts
  apps/boilerplate-app-tailwind/src/consts/paths.ts
  apps/boilerplate-app-tailwind/src/modules/HomePage/HomePage.test.tsx
  apps/boilerplate-app-tailwind/src/modules/HomePage/components/MontyHome/MontyHome.stories.tsx
  apps/boilerplate-app-tailwind/src/modules/HomePage/components/MontyHome/index.tsx
  apps/boilerplate-app-tailwind/src/modules/HomePage/index.tsx
  apps/boilerplate-app-tailwind/src/modules/Status404Page/index.tsx
  apps/boilerplate-app-tailwind/src/modules/Status500Page/index.tsx
  apps/boilerplate-app-tailwind/src/modules/index.ts
  apps/boilerplate-app-tailwind/src/pages/404.tsx
  apps/boilerplate-app-tailwind/src/pages/500.tsx
  apps/boilerplate-app-tailwind/src/pages/_app.tsx
  apps/boilerplate-app-tailwind/src/pages/index.tsx
  apps/boilerplate-app/src/modules/MontyHomeMUIPage/index.tsx
  apps/boilerplate-app/src/modules/MontyHomeTailwindPage/index.tsx
  apps/boilerplate-app/src/modules/MontyHomeVanillaPage/index.tsx
  apps/boilerplate-app/src/pages/monty-home-mui.tsx
  apps/boilerplate-app/src/pages/monty-home-tailwind.tsx
  apps/boilerplate-app/src/pages/monty-home-vanilla.tsx
  packages/ui-tailwind/.eslintrc.js
  packages/ui-tailwind/jest.config.ts
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  packages/ui/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  packages/ui-tailwind/tailwind.config.js
Due: pretty-quick --staged, npm run lint

chore(deps): update TypeScript
  packages/ui-tailwind/.storybook/main.ts
  packages/ui-tailwind/.storybook/manager.ts
  packages/ui-tailwind/.storybook/preview.tsx
  packages/ui-tailwind/.storybook/theme.ts
  packages/ui-tailwind/src/index.tsx
  packages/ui-tailwind/src/styles.css
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  packages/ui-tailwind/tsconfig.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  packages/ui-tailwind/src/Button/Button.stories.tsx
  packages/ui-tailwind/src/Button/Button.test.tsx
  packages/ui-tailwind/src/Button/index.tsx
Due: pretty-quick --staged, npm run lint, npm run tsc

chore(deps): update TypeScript
  packages/tailwind-config/tailwind.config.js
Due: pretty-quick --staged, npm run lint

chore(nvm): add config
  .nvmrc
Due: pretty-quick --staged

chore(deps): update TypeScript
  packages/ui-tailwind/package.json
Due: pretty-quick --staged

chore(deps): update TypeScript
  apps/boilerplate-app-tailwind/package.json
  package.json
  packages/jest-config-base/package.json
  packages/ui-tailwind/package.json
Due: pretty-quick --staged
